<!DOCTYPE html>
<title>{% block title %}{% endblock %} - HeyChess</title>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="{{ url_for('static', filename='scripts/connect.js') }}"></script>
  {% block resources %}{% endblock %}
</head>
<body>
  <div class="logo-area">
    <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}">
    <div class="border">
      Stuff
    </div>
  </div>
  <div class="main-area">
    <nav class="nav-bar">
      <ul>
        <li class="nav-item left"><a href="{{ url_for('home.home') }}">Home</a></li>
        <li class="nav-item left"><a href="#">Play</a></li>
        <li class="nav-item left"><a href="#">Help</a></li>
        <li class="nav-item left"><a href="#">About</a></li>
        <li id="username" class="nav-item right"><a href="#">Username</a></li>
      </ul>
    </nav>
    <section class="content">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section><!--
    --><div class="side-bar">
      {% block side_bar %}{% endblock %}
    </div>
  </div>
  <footer class="footer">
    2019
  </footer>
</body>
